name: Deploy

on:
  push:
    branches:
      - master

jobs:
  HerokuDeploy:
    runs-on: ubuntu-latest
    steps:
      - name: Ckeck pout repository code
        uses: actions/checkout@v2
      - name: deploy app on heroku
        uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: ${{ secrets.HEROKU_API_NAME }}
          heroku_email: ${{ secrets.HEROKU_API_EMAIL }}
          branch: "master"