name: GitHub Actions Hello World T5
on: [push]
jobs: 
 Hello-World:
  runs-on: ubuntu-latest
  steps:
   - run: echo "Ola mundo! sou teste de actions"
   - name: Check out repository code
     uses: actions/checkout@v3 
   - name: List files
     run: ls ${{github.workspace}}